.button {
    font-size: 1em;
    color: white;
    background-color: rgb(82, 139, 238);
    border: 1px rgb(120, 185, 216) solid;
    border-radius: 5px;
    margin: 25px;
    padding: 10px 75px;
}

.button:hover {
    background-color: rgb(24, 101, 234);

}